In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('C:/Users/medam/OneDrive/Documentos/E-TRANSMA/etransma/grille.csv')
data.head()

,depart,arrivé
0,"-4.408841988002255, 15.41111462057224","-4.368794132299787, 15.480081117531181: 500; -..."
1,"-4.310516029269822, 15.31275801194449","-4.421849693531997, 15.38071364233654: 1500; -..."
2,"-4.3011001248614, 15.317963615343366","-4.408884776353673, 15.411243366602365: 1500; ..."
3,"-4.3390993860752785, 15.281008604124567","-4.3011001248614, 15.317963615343366: 500; -4...."
4,"-4.340512347956663, 15.31374782376787","-4.409227083076333, 15.411286281945738: 1000; ..."

In [10]:
# Fonction pour calculer la médiane des prix
def calculer_mediane(arrive_str):
    prix = []
    # Séparer les points et les prix
    for item in arrive_str.split(';'):
        if ':' in item:
            # Extraire le prix après le dernier ':'
            prix_part = item.split(':')[-1].strip()
            prix.append(int(prix_part))
    return np.median(prix)

# Appliquer la fonction pour créer la colonne 'mediane'
data['mediane'] = data['arrivé'].apply(calculer_mediane)

# Afficher le DataFrame avec la nouvelle colonne
data.head()

,depart,arrivé,mediane
0,"-4.408841988002255, 15.41111462057224","-4.368794132299787, 15.480081117531181: 500; -...",1250.0
1,"-4.310516029269822, 15.31275801194449","-4.421849693531997, 15.38071364233654: 1500; -...",1000.0
2,"-4.3011001248614, 15.317963615343366","-4.408884776353673, 15.411243366602365: 1500; ...",1000.0
3,"-4.3390993860752785, 15.281008604124567","-4.3011001248614, 15.317963615343366: 500; -4....",500.0
4,"-4.340512347956663, 15.31374782376787","-4.409227083076333, 15.411286281945738: 1000; ...",1000.0

In [11]:
data.to_csv('C:/Users/medam/OneDrive/Documentos/E-TRANSMA/etransma/grille.csv')